<%include header-slider.ejs%>

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>一些常用模块</small></div>
      </div>

      <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-user-md"></span><br/>用户总数<br/><%=data1[0]['count(*)']%></a></li>
        <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-file-text"></span><br/>攻略数<br/><%=data2[0]['count(*)']%></a></li>
        <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-file-text"></span><br/>游记数<br/><%=data3[0]['count(*)']%></a></li>
        <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-file-text"></span><br/>旅游路线数<br/><%=data4[0]['count(*)']%></a></li>
      </ul>


    </div>

    <%include footer.ejs%>