    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>
  </div>
  <!-- content end -->

  </div>

  <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

  <!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

  <!--[if (gte IE 9)|!(IE)]><!-->
  <script src="assets/js/jquery.min.js"></script>
  <!--<![endif]-->
  <script src="assets/js/amazeui.min.js"></script>
  <script src="assets/js/app.js"></script>
  </body>

  </html>
  
  <script language="javascript" type="text/javascript">  
         function showdiv() {              
             document.getElementById("bg").style.display = "block";  
             document.getElementById("show").style.display = "block";  
         }  
         function hidediv() {  
             document.getElementById("bg").style.display = 'none';  
             document.getElementById("show").style.display = 'none';  
         }
         function showdivMovieAdmin() {              
             document.getElementById("bg").style.display = "block";  
             document.getElementById("show-movie-admin").style.display = "block";  
         }  
         function hidedivMovieAdmin() {  
             document.getElementById("bg").style.display = 'none';  
             document.getElementById("show-movie-admin").style.display = 'none';  
         }  
           function showdivMovie() {              
             document.getElementById("bg").style.display = "block";  
             document.getElementById("show-movie").style.display = "block";  
         }  
         function hidedivMovie() {  
             document.getElementById("bg").style.display = 'none';  
             document.getElementById("show-movie").style.display = 'none';  
         } 
             function showdivAdv() {              
             document.getElementById("bg").style.display = "block";  
             document.getElementById("show-adv").style.display = "block";  
         }  
         function hidedivAdv() {  
             document.getElementById("bg").style.display = 'none';  
             document.getElementById("show-adv").style.display = 'none';  
         }   
     </script>  