<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
  <html xmlns="http://www.w3.org/1999/xhtml" >  
 <head>  
    <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台管理</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
     <style type="text/css">  
         #show{  position: absolute;  top: 30%;  left: 15%;  width: 60%; padding: 8px;  border: 8px solid #E8E9F7;  background-color: white;  z-index:1002;  overflow: auto;}  
     </style>  
 </head>  
 <body>  
   
     
     <div id="show">


     <label style="margin-left: 5px;">更改的字段：&nbsp;&nbsp;</label>
     <select id= "selectbox" data-am-selected="{btnSize: 'sm'}">
              <option value="option3">ticket_cost</option>
              <option value="option4">off</option>
              <option value="option5">name</option>
              <option value="option5">title</option>
              <option value="option5">context</option>
              <option value="option5">route</option>
              <option value="option5">plan</option>
            </select>
         <br />
        <label style="margin-left: 5px;">更改信息：&nbsp;&nbsp;</label><input id="selectinput" type="text" style="height: 30px;width:80%;margin-bottom: 5px;" placeholder="请输入"/>
        <br />
        <br />
        <button onclick = "sendupdate()" type="button" style="margin-left: 45%;">确定</button>
     </div>  



 </body>  
 </html>
<script>

  function sendupdate(){
    var myselect=document.getElementById("selectbox");
    var index=myselect.selectedIndex ; 
    var selecttext = myselect.options[index].text;
    var id = '<%=data%>';
    var selectinput = document.getElementById("selectinput");
    var inputtext = selectinput.value;

this.location.href='/MovieAdminupdate?clom='+selecttext+'&change='+inputtext+'&id='+id;
  }




</script>
